.input-part {
    flex: 1 1 30rem;
    padding-right: 3rem;
    // min-height: 55vh;
    .bill {
        @include flex(center, flex-start, column);
        margin-bottom: 1rem;
        position: relative;
    }
    .select-tip {
        margin-bottom: 1rem;
    }
    .percent-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        // grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "a b c"
            "d e f";
        gap: 0.75rem;
        .a {
            grid-area: a;
        }
        .b {
            grid-area: b;
        }
        .c {
            grid-area: c;
        }
        .d {
            grid-area: d;
        }
        .e {
            grid-area: e;
        }
        .f {
            grid-area: f;
        }
    }
}

.btn {
    background: $v-dark-cyan;
    color: $white;
    font-family: $font-family;
    min-height: 2.5rem;
    width: 100%;
    display: block;
    border-radius: 0.25rem;
    border: none;
    font-size: 24px;
    transition: 0.3s ease-in-out;
}
.btn:hover {
    cursor: pointer;
    color: $v-dark-cyan;
    background: $strong-cyan;
}
.btn-active {
    color: $v-dark-cyan;
    background: $strong-cyan;
    font-weight: bold;
}

// .custom-btn {
//     background: $light-grayish-cyan;
//     color: $darker-grayish-cyan;
//     font-weight: bold;
// }

//cos nie poszlo z nestowaniem
.label {
    margin-bottom: 1rem;
    color: $darker-grayish-cyan;
    font-weight: bold;
}
.num-ppl {
    @include flex(center, flex-start, column);
    position: relative;
}
.input::after {
    content: url(/images/icon-dollar.svg);
}
.input {
    background: $light-grayish-cyan;
    width: 100%;
    border: none;
    border-radius: 0.25rem;
    min-height: 2.5rem;
    position: relative;
    font-size: 24px;
    text-align: right;
    transition: 0.1s;
}
.input::placeholder {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.input:hover {
    cursor: pointer;
    border: 3px solid $strong-cyan;
}

#custom-percentage-input::placeholder {
    right: 50%;
    transform: translate(50%, -50%);
    font-weight: bold;
}

.icon {
    position: absolute;
    left: 5%;
    top: 70%;
}

@media (min-width: 375px) and (max-width: 1025px) {
    .input-part {
        padding: 1rem;
        margin-bottom: 1rem;
    }
}
